<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://apps.bdimg.com/libs/jquerymobile/1.4.5/jquery.mobile-1.4.5.min.css">
    <script src="http://apps.bdimg.com/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="http://apps.bdimg.com/libs/jquerymobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
</head>

<body>
<div data-role="page">
    <div data-role="header" data-position="fixed">
        <a href="javascript:window.location.href=document.referrer;" class="ui-btn ui-corner-all ui-shadow ui-icon-back ui-btn-icon-left">后退</a>
        <h1>Next One</h1>
    </div>
    <div data-role="main" class="ui-content">
        <form name="edit" action="{% url 'room:assistant_edit'%}" method="post" data-ajax="false" data-inset="true" autocomplete="off">
            <fieldset data-role="fieldcontain">
                <label for="name">姓名:</label>
                <input type="text" name="name" id="name" data-clear-btn="true" value="{{ name }}">
                <label for="email">Email:</label>
                <input type="text" name="email" id="email" data-clear-btn="true" value="{{ email }}">
                {% if id %}
                    <label for="id"></label>
                    <input type="hidden" name="id" id="id" value="{{ id }}">
                {% endif %}
            </fieldset>
            <input type="submit" value="{{ submit }}">
        </form>
    </div>
    <div data-role="footer" data-position="fixed" style="text-align:center;">
    </div>
</div>
</body>
