<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://apps.bdimg.com/libs/jquerymobile/1.4.5/jquery.mobile-1.4.5.min.css">
    <script src="http://apps.bdimg.com/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="http://apps.bdimg.com/libs/jquerymobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
</head>

<body>
<div data-role="page">
    <div data-role="header" data-position="fixed">
        <a href="javascript:window.location.href=document.referrer;" class="ui-btn ui-corner-all ui-shadow ui-icon-back ui-btn-icon-left">后退</a>
        <h1>Next One</h1>
    </div>
    <div data-role="main" class="ui-content">
        <form name="edit" action="{% url 'room:patient_edit'%}" method="post" data-ajax="false" data-inset="true" autocomplete="off">
            <fieldset data-role="fieldcontain">
                <label for="name">姓名:</label>
                <input type="text" name="name" id="name" data-clear-btn="true" value="{{ name }}">
                <label for="surgeon">主诊:</label>
                <select name="surgeon" id="surgeon">
                    <optgroup label="前节">
                        {% for anterior_surgeon in anterior_surgeons %}
                            <option value="{{ anterior_surgeon.id }}" {% if anterior_surgeon.id == surgeon.id %} selected {% endif %}>{{ anterior_surgeon.name }}</option>
                        {% endfor %}
                    </optgroup>
                    <optgroup label="后节">
                        {% for posterior_surgeon in posterior_surgeons %}
                            <option value="{{ posterior_surgeon.id }}" {% if posterior_surgeon.id == surgeon.id %} selected {% endif %}>{{ posterior_surgeon.name }}</option>
                        {% endfor %}
                    </optgroup>
                </select>
                <label for="assistant">一助:</label>
                <select name="assistant" id="assistant">
                    {% for assist in assistants %}
                        <option value="{{ assist.id }}" {% if assist.id == assistant.id %} selected {% endif %}>{{ assist.name }}</option>
                    {% endfor %}
                </select>
                <label for="room_number">术间:</label>
                <select name="room_number" id="room_number">
                    {% for room in rooms %}
                        <option value="{{ room.number }}" {% if room_number == room.number %} selected {% endif %}>{{ room.number }}</option>
                    {% endfor %}
                </select>
                {% if id %}
                    <label for="id"></label>
                    <input type="hidden" name="id" id="id" value="{{ id }}">
                {% endif %}
                <label for="redirect"></label>
                <input type="hidden" name="redirect" id="redirect" value="{{ redirect }}">
            </fieldset>
            <input type="submit" value="{{ submit }}">
        </form>
    </div>
    <div data-role="footer" data-position="fixed" style="text-align:center;">
    </div>
</div>
</body>
