{% load staticfiles %}
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://apps.bdimg.com/libs/jquerymobile/1.4.5/jquery.mobile-1.4.5.min.css">
    <script src="http://apps.bdimg.com/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="http://apps.bdimg.com/libs/jquerymobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
    <script src="{% static 'Sortable/Sortable.min.js' %}"></script>
</head>

<body>
<div data-role="page">
    <div data-role="header" data-position="fixed">
        <a href="{% url 'room:room_index' %}" class="ui-btn ui-corner-all ui-shadow ui-icon-back ui-btn-icon-left">后退</a>
        <h1>Next One</h1>
    </div>
    <div data-role="main" class="ui-content">
        {% if patients %}
            <ul data-role="listview" data-inset="true" data-icon="false" id="items">
                {% for patient in patients %}
                    <li data-id="{{ patient.id }}">
                        <a href="{% url 'room:patient_detail' patient.id %}" data-ajax="false">{{ patient.name }}</a>
                        <a href="{% url 'room:patient_delete' patient.id %}" data-ajax="false" data-icon="delete"></a>
                    </li>
                {% endfor%}
            </ul>
        {% else %}
            <p>已经没有患者了</p>
        {% endif %}
        <form id="newpatient" name="newpatient" action="{% url 'room:patient_create' %}" method="post" data-ajax="false">
            <input type="hidden" name="room_number" id="room_number" value="{{ room.number }}">
        </form>
    </div>
    <div data-role="footer" data-position="fixed" style="text-align:center;">
        <button onclick="toggleDrag()" id="toggle">开始排序</button>
        <button onclick="fsubmit(document.newpatient)">新患者</button>
    </div>
</div>
</body>

<script>
    let el = document.getElementById('items');
    let sortable = Sortable.create(el, {
        disabled: true,
        onUpdate: function () {
            let order = sortable.toArray();
            let positions = '[' + order.join(', ') + ']';
            jQuery.ajax({
                url: "{% url 'room:room_update_queue' room.id %}",
                type: 'POST',
                data: {
                    patient_queue: positions
                },
            });
        },
    });

    function toggleDrag() {
        sortable.options.disabled = !sortable.options.disabled;
        let toggle = document.getElementById('toggle');
        toggle.textContent = (toggle.textContent === '开始排序') ? '停止排序' : '开始排序';
    }
</script>

<script>
    function fsubmit(obj){
        obj.submit();
    }
</script>