{% load staticfiles %}
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://apps.bdimg.com/libs/jquerymobile/1.4.5/jquery.mobile-1.4.5.min.css">
    <script src="http://apps.bdimg.com/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="http://apps.bdimg.com/libs/jquerymobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
    <script src="{% static 'Sortable/Sortable.min.js' %}"></script>
</head>

<body>
<div data-role="page">
    <div data-role="header" data-position="fixed">
        <a href="{% url 'room:room_index' %}" class="ui-btn ui-corner-all ui-shadow ui-icon-back ui-btn-icon-left">后退</a>
        <h1>Next One</h1>
    </div>
    <div data-role="main" class="ui-content">
        <h1>已接：</h1>
        <ul data-role="listview" data-inset="true" data-icon="false" id="got">
            {% for patient in patients_got %}
                <li data-id="{{ patient.id }}" id="{{ patient.id }}">{{ patient.name }}</li>
            {% endfor %}
        </ul>
        <h1>未接：</h1>
        <ul data-role="listview" data-inset="true" data-icon="false" id="getting">
            {% for patient in patients %}
                <li data-id="{{ patient.id }}">
                    <a href="{% url 'room:patient_detail' patient.id %}" data-ajax="false">{{ patient.name }}</a>
                    <a href="{% url 'room:patient_delete' patient.id %}" data-ajax="false" data-icon="delete"></a>
                </li>
            {% endfor%}
        </ul>
        <form id="newpatient" name="newpatient" action="{% url 'room:patient_create' %}" method="post" data-ajax="false">
            <input type="hidden" name="room_id" id="room_id" value="{{ room.id }}">
        </form>
    </div>
    <div data-role="footer" data-position="fixed" style="text-align:center;">
        <button onclick="toggleDrag()" id="toggle">开始排序</button>
        <button onclick="fsubmit(document.newpatient)">添加患者</button>
    </div>
</div>
</body>

<script>
    let getting = document.getElementById('getting');
    let sortable_getting = Sortable.create(getting, {
        group: {
            name: 'patient',
            put: true,
            pull: false,
        },
        disabled: true,
        onUpdate: function () {
            let order = sortable_getting.toArray();
            let positions = '[' + order.join(', ') + ']';
            jQuery.ajax({
                url: "{% url 'room:room_update_queue' room.id %}",
                type: 'POST',
                data: {
                    patient_queue: positions
                },
            });
        },
        onAdd: function (evt) {
            let order = sortable_getting.toArray();
            let positions = '[' + order.join(', ') + ']';
            jQuery.ajax({
                url: "{% url 'room:room_roll_back' room.id %}",
                type: 'POST',
                data: {
                    patient_queue: positions,
                    patient_id: evt.item.id
                },
            });
        }
    });

    let got = document.getElementById('got');
    let sortable_got = Sortable.create(got, {
        sort: false,
        group: {
            name: 'patient',
            put: false,
            pull: true,
        },
        disabled: true,
        onRemove: function () {
        }
    });

    function toggleDrag() {
        sortable_getting.options.disabled = !sortable_getting.options.disabled;
        sortable_got.options.disabled = !sortable_got.options.disabled;
        let toggle = document.getElementById('toggle');
        toggle.textContent = (toggle.textContent === '开始排序') ? '停止排序' : '开始排序';
        if (toggle.textContent === '开始排序') {
            location.reload();
        }
    }
</script>

<script>
    function fsubmit(obj){
        obj.submit();
    }
</script>