<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://apps.bdimg.com/libs/jquerymobile/1.4.5/jquery.mobile-1.4.5.min.css">
    <script src="http://apps.bdimg.com/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="http://apps.bdimg.com/libs/jquerymobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
</head>

<body>
<div data-role="page">
    <div data-role="header" data-position="fixed">
        <h1>Next One</h1>
    </div>
    <div data-role="main" class="ui-content">
        <ul data-role="listview" data-inset="true">
            {% for room in rooms %}
                {% if room.get_next_patient %}
                    <li>
                        <a href="{% url 'room:room_detail' room.id %}" data-ajax="false">
                            <h1>OR {{ room.number }}</h1>
                            <p>
                                {% if room.current_patient %}
                                    当前患者：{{ room.current_patient.name}}<br>
                                    主诊：{{ room.current_patient.surgeon}}<br>
                                    一助：{{ room.current_patient.assistant}}<br>
                                    入室时间：{{ room.entry_time }}<br>
                                {% else %}
                                    当前患者：无<br>
                                {% endif %}
                                Next One：{{ room.get_next_patient.name }}
                            </p>
                        </a>
                        <a href="{% url 'room:patient_get_in' room.get_next_patient.id %}" data-ajax="false">入室</a>
                    </li>
                    {% else %}
                    <li data-icon="false">
                        <a href="{% url 'room:room_detail' room.id %}" data-ajax="false">
                            <h1>OR {{ room.number }}</h1>
                            <p>
                                {% if room.current_patient %}
                                    当前患者：{{ room.current_patient.name}}<br>
                                    主诊：{{ room.current_patient.surgeon}}<br>
                                    一助：{{ room.current_patient.assistant}}<br>
                                    入室时间：{{ room.entry_time }}<br>
                                {% else %}
                                    当前患者：无<br>
                                {% endif %}
                                Next One：Well done!
                            </p>
                        </a>
                    </li>
                {% endif %}
            {% endfor%}
        </ul>
    </div>
    <div data-role="footer" data-position="fixed" style="text-align:center;">
        <a href="{% url 'room:patient_create' %}" data-ajax="false">新患者</a>
    </div>
</div>
</body>